:root {
    /*Font variables*/
    --fontFamilyDefault: 'Open Sans',Arial,sans-serif;
    --fontFamilyBold: 'Open Sans Bold',Arial,sans-serif;
    --fontSizeDefault: 12px;

    /*Color variables*/
    --colorBlue: rgb(0, 110,163);
    --colorGrey: rgb(67, 67, 67);
    --colorRed: rgb(255, 0,0);
    --colorGreen: rgb(0, 143,47);
    --colorWhite: rgb(255,255,255);

    /*Border radius variables*/
    --borderRadius: 5px;

    /*Notification component variables*/
    --Notification-margin: 50px;
    --Notification-border-width: 1px 35px 1px 1px;;
    --Notification-padding: 5px 15px;

    /*Button component variables*/
    --Button-padding: 10px;

    /*Footer component variables*/
    --Footer-height: 30px;
    --Footer-padding-left: 50px;
    --Footer-padding-right: 50px;
}

body {
    font-family: var(--fontFamilyDefault);
    font-size: var(--fontSizeDefault);
}

.Notification {
    margin: var(--Notification-margin);
    border-style: solid;
    border-width: var(--Notification-border-width);
    border-radius: var(--borderRadius);
    padding: var(--Notification-padding);
}

.Notification--error {
    border-color: var(--colorRed);
}
.Notification--success {
    border-color: var(--colorGreen);
}

.Notification-header {
    color: var(--colorGrey);
    font-family: var(--fontFamilyBold);
    font-weight: bold;
}

.Notification-body {   
    color: var(--colorGrey);
}

.u-blueText {
    color: var(--colorBlue);
    text-decoration: none;
}

.Button {
    padding: var(--Button-padding);
    background-color: var(--colorBlue);
    border-radius: var(--borderRadius);
    color: var(--colorWhite);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fontFamilyBold);
    font-weight: bold;
}

.Footer {
    height: var(--Footer-height);
    padding-left: var(--Footer-padding-left);
    padding-right: var(--Footer-padding-right);
}

.Footer-right {
    text-align: right;
}